.navbarContainer{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}
.navlistitem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
}